@import "../../style/App.scss";
.manager {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;
    margin-top: 30px;

    button {
        height: 50px;
        border: none;
        box-sizing: border-box;
        @include textStyle();
        &:hover {
            @include buttonHover();
        }
        &:active {
            @include buttonActive();
        }
    }
    &__addBlock {
        display: flex;

        flex-direction: row;
        input {
            @include size(100px, 50px);
            border: none;
            box-sizing: border-box;
            text-align: center;
            outline: none;
            @include textStyle();
            &:hover {
                @include buttonHover();
            }
            &:focus {
                @include buttonActive();
            }
        }
    }
}
@media (max-width: 650px) {
    .manager {
        button {
            @include textStyle(14px);
            @include size(100px, 40px);
        }
        input {
            @include textStyle(14px);
            @include size(100px, 40px);
        }
    }
}
@media (max-width: 450px) {
    .manager {
        button {
            @include textStyle(11px);
            @include size(80px, 40px);
        }
        input {
            @include textStyle(11px);
            @include size(100px, 40px);
        }
    }
}
