.blocks {
    display: grid;
    grid-template-columns: repeat(4, 150px);
    margin-top: 50px;
    gap: 5px;
}
@media (max-width: 650px) {
    .blocks {
        grid-template-columns: repeat(4, 100px);
    }
}
@media (max-width: 450px) {
    .blocks {
        grid-template-columns: repeat(3, 100px);
    }
}
